<?php

namespace App\Exceptions;

class Dapper
{
    {{ #Entries }}
    public const {{#Constants}}{{PHP}}{{/Constants}} = '{{ Entry.Code }}';
    {{ /Entries }}

    public static function getEntryByCode($code): Entry
    {
        $content = null;
        switch($code) {
            {{ #Entries }}
            case self::{{#Constants}}{{PHP}}{{/Constants}}:
              $content = <<<JSON
                {{ &EntryJSON }}
              JSON;
              break;
            {{ /Entries }}
            default:
              $content = '{"message":"Unknown error"}';
              break;
        }

        return Entry::fromJSON($content);
    }
}

class Entry
{
    public string $code;
    public string $message;
    public ?string $description;
    public ?string $category;
    public ?string $cause;
    public ?string $solution;
    public ?array $translations;
    public ?array $meta;

    public static function fromJSON($JSON): self
    {
        $hash = json_decode($JSON, true);
        $instance = new self();

        $instance->code = $hash['code'] ?? null;
        $instance->message = $hash['message'] ?? null;
        $instance->description = $hash['description'] ?? null;
        $instance->category = $hash['category'] ?? null;
        $instance->cause = $hash['cause'] ?? null;
        $instance->solution = $hash['solution'] ?? null;
        $instance->translations = $hash['translations'] ?? null;
        $instance->meta = $hash['meta'] ?? null;
        
        return $instance;
    }

    public function toHash()
    {
        return [
            'code'         => $this->code,
            'message'      => $this->message,
            'description'  => $this->description,
            'category'     => $this->category,
            'cause'        => $this->cause,
            'solution'     => $this->solution,
            'translations' => $this->translations,
            'meta'         => $this->meta,
        ];
    }
}